.root {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 2rem;
}
.icons {
  margin-right: 1rem;
}

.icon:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.youtube {
  color: #f70d05;
}

.twitter {
  color: #2b91da;
}
