.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.image {
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
}

.image:hover {
  transform: scale(1.08);
  cursor: pointer;
}
